# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Git
.git/
.gitignore

# Node
node_modules/

# OS / Editor
.DS_Store
Thumbs.db

# Cache / Logs
.cache/
logs/


# ML / Large files
*.pt
*.pth
*.ckpt
*.bin
*.onnx
models/
data/